<form [formGroup]="editForm" (ngSubmit)="onSubmitForm()">
  <mat-form-field appearance="outline">
    <input type="text" matInput formControlName="name" placeholder="User name" />
    <mat-error *ngIf="editForm.invalid">{{getErrorMessage()}}123</mat-error>
  </mat-form-field>
  
<input type="text" matInput formControlName="name" placeholder="User name" />
<mat-error *ngIf="editForm.invalid">User not entered</mat-error>



<input type="text" matInput formControlName="name" placeholder="mailbox@mail.com" />
<mat-error *ngIf="editForm.invalid">Email not entered</mat-error>


</form>